body {
  background-color: #02AB70;
}

nav {
  display: flex;
}

h1 {
font-size: 35px;
font-family: fantasy;
font-weight: bold;
color: coral;
}

h2 {
  font-size: 25px;
  font-family: fantasy;
  font-weight: bold;
  color: coral;
}

figure {
  display:center;
  text-align: center;
  font-style: italic;
  font-size: 24pt;
  border: none;
}
